.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}
.card {
  padding: 20px;
  width: 40%;
  margin-top: 7rem;
}
.cardBody {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.cardActions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.form {
  width: 100%;
}
.heading {
  width: 100%;
  padding: 0;
  text-align: start;
}
.form {
  width: 100%;
}

.link {
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .card {
    width: 100%;
    margin: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .card {
    width: 100%;
    padding: 0;
  }
  .container {
    margin: 20px;
  }
}
